/*
  Theme name: Saint Billy
*/

$primary-color: tan;
$secondary-color: brown;

@import url('https://fonts.googleapis.com/css?family=Rye|Sancreek');

/* App-specific styles */
#custom .eq .band {
  margin-right: 6px;
}

#custom .eq {
  position: fixed;
  max-width: 960px;
  min-width: 600px;
  max-height: 600px;
  min-height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: auto;
  width: 50%;
  height: 30%;
  mix-blend-mode: soft-light;
  transform: scale(1.75) translateX(-310px) translateY(-70px) perspective(300px) rotateX(0deg) rotateY(339deg) scaleZ(1) rotateZ(0deg) translateZ(0);
}

#custom .gd-lyrics .section {
  filter: brightness(1.5) blur(8px);
  background: none;
  box-shadow: none;
  border: none;
}

#custom .gd-lyrics .section.current {
  filter: brightness(1) blur(0px);
}

/* General */
* {
  border: 0;
  outline: 0;
  color: rgba(0,0,0,0.8);
  font-family: 'Sancreek', serif;
}

#gd-beatdown p {
    margin: 0;
}

#gd-beatdown #gd-track-artwork_url img {
    width: 220px;
}

#gd-beatdown .content h4 {
    font-size: 1.68em;
}

#gd-beatdown .section.heading .content {
  text-align: center;
}

#gd-beatdown .inner {
  font-size: 330%;
}

#gd-beatdown .handle-heading {
    display: none;
}

#gd-beatdown #custom .section {
  width: 80%;
  height: 20%;
  min-height: 200px;
  border: none;
  box-shadow: none;
  background: none;
}

.inner * {
  font-family: 'Sancreek', serif;
  color: #333;
}

/* Info panel */
#custom .info * {
  color: antiquewhite;
}

.info .toc a,
.gist-url, .css-url,
#custom .info a {
  color: tan;
  cursor: pointer;
  text-decoration: none;
}

.info .toc a:hover,
.gist-url, .css-url,
#custom .info a:hover {
  color: antiquewhite;
}

#custom .section {
  background: #FFF9ED;
  background-image: url('https://www.transparenttextures.com/patterns/natural-paper.png');
  border: 3px double rgba(0,0,0,0.5);
  box-shadow: inset 0 0 60px rgba(0,0,0,0.25);
  mix-blend-mode: color-burn;
}

.inner a {
    color: darkred;
    text-decoration: none;
}

.inner a:hover {
  background: rgba(255,255,255,0.25);
}

.gd-slides .inner a:hover {
    filter: invert(100%);
    background: rgba(255,255,255,0.6);
}

.inner .section h1,
.inner .section h2,
.inner .section h3,
.inner .section h4,
.inner .section h5,
.inner .section h6 {
  color: rgba(0,0,0,0.8);
  font-family: 'Rye', serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.inner span.toggle {
    color: rgba(0,0,0,0.7);
}

.inner .section .alternate {
  background: none;
}

#custom .inner a.handle {
  vertical-align: -webkit-baseline-middle;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  font-family: 'Rye', serif;
  text-shadow: 1px 1px 1px white, 3px 3px 3px rgba(0,0,0,0.25);
  font-size: 2em;
}

#wrapper .section h1,
#wrapper .section h2 {
  position: initial;
  /* text-shadow: 2px 2px 10px rgba(0,0,0,0.5); */
  font-weight: bold;
  color: black;
  font-size: 1em;
}

/* Command sections */

.inner code {
  background: rgba(255,255,255,0.25);
  box-shadow: none;
  padding: 4px;
  border-radius: 2px;
  filter: url("filters.svg#f145");
}

.inner code:hover {
  background: rgba(255,255,255,0.5);
  color: black;
  filter: none;
  border-radius: 3px;
  box-shadow: 0 0 8px white;
}

.inner pre code, .inner .hljs {
  background: none;
  filter: none;
}

.inner pre code:hover {
  background: none;
  filter: none;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Rye', serif;
}

.inner .section p {
  padding: 2px 6px 10px 6px;
}

.inner .section table,
.inner .section tr,
.inner .section th {
  background: none;
}

.section .content {
  background: rgba(255,255,255,0);
}

.inner .section p {
  padding: 2px 6px 10px 6px;
}

.inner .section ul {
  list-style: none;
  padding: 0px;
  padding: 0 30px 10px 30px; */
}

.inner .section li {
  border: none;
  background: none;
}

.inner .section table,
.inner .section tr,
.inner .section th {
  background: none;
}

/* App-specific styling */

.inner .cheats:after {
  content: 'cheat';
  padding-left: 2px;
  color: #ff851b;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

#gd-entwine .inner a {
  text-decoration: none;
}

.gd-slides .container .section {
  background: rgba(255,255,255,0.15);
}

.gd-slides #custom .inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gd-slides .section {
  overflow: hidden;
}

connection {
  mix-blend-mode: soft-light;
}

/* Dust and scratches */

.inner .column:nth-child(odd) .section:nth-child(2):before {
  position: absolute;
  content: '';
  height: 300px;
  width: 300px;
  mix-blend-mode: color;
  background: radial-gradient(rgba(100,50,50,1), rgba(150,20,20,0.5),rgba(0,0,0,0));
  filter: blur(10px);
  z-index: 100;
  opacity: 0.2;
  pointer-events: none;
}

.container:after {
  content: ".";
  text-shadow: 0 0 12px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 80px black;
  color: rgba(60,10,41,0.1);
  font-size: 5em;
}

.container::before {
  content: ".";
  position: absolute;
  top: 0px;
  left: calc(20%);
  font-size: 15em;
  text-shadow: 0px 0px 20px rgba(255,255,255,0.15);
  color: rgba(255,255,255,0.15);
  mix-blend-mode: hard-light;
  pointer-events: none;
}

.inner {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.25);
  overflow-y: scroll;
  width: 100%
}

.inner::before {
  content: "";
  pointer-events: none;
  background-color: $primary-color;
  background-image: url(https://www.transparenttextures.com/patterns/natural-paper.png);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-blend-mode: normal;
  box-shadow: inset 0 0 100px;
}

.column::after {
  content: ".";
  position: absolute;
  top: 0px;
  left: -50px;
  font-size: 15em;
  text-shadow: 0px 0px 20px rgba(255,255,255,0.15);
  color: rgba(255,255,255,0.15);
  mix-blend-mode: hard-light;
  pointer-events: none;
}

.inner::after {
  content: "";
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-burn;
  opacity: 0.5;
  background: linear-gradient(to right, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  background-color: brown;
  background-blend-mode: screen;
  box-shadow: inset 0 0 400px;
}

/* Keypress styling */
.container kbd {
  display: inline-block;
  padding: 6px 10px;
  vertical-align: middle;
  background-color: rgba(0,0,0,0.7);
  border-radius: 0px;
  color: rgba(255,255,255,0.5);
  box-shadow: 0 0 4px rgba(0,0,0,0.8);
  border: none;
  font-size: 0.6em;
}

.container kbd:hover {
  background: black;
  color: white;
}

@keyframes fadein {
    0% {
        left: -50%;
        opacity: 1;
        transform: perspective(2000px) rotateY(60deg) scale(2);
        filter: brightness(10) contrast(100%);
         border: 3px double rgba(0,0,0,0.5);
         box-shadow: inset 0 0 60px rgba(0,0,0,0.25);
    }
    100% {
        left: 0%;
        opacity: 1;
        transform: perspective(2000px) rotateY(0deg) scale(1);
        filter: brightness(1) contrast(100%);
         border: 3px double rgba(0,0,0,0.5);
         box-shadow: inset 0 0 60px rgba(0,0,0,0.25);
    }
}

#custom .note {
    background: burlywood;
    filter: invert(100%);
}

connection {
    mix-blend-mode: soft-light;
    border: 7px solid #ccc;
    opacity: 0.5;
}