@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Mr+De+Haviland|Rozha+One');

* {
  font-family: 'Mr De Haviland', cursive;
  color: rgba(0,0,0,0.8);
}

.section img {
  mix-blend-mode: exclusion;
}

#custom .section,
#custom .content,
#custom .section .content .alternate {
  background: none;
}

#custom .inner .section {
  background: url(https://ugotsta.github.io/gitdown/assets/paper-set-textured.jpg);
  border: none;
  box-shadow: inset 0 0 200px black, inset 0 0 2px white, 0px 0px 40px slategrey;
  mix-blend-mode: difference;
}

#custom .inner .section::before {
  background: none;
}

#custom tr, #custom th {
  background: none;
}

ul li {
  padding: 2px 6px;
  border: none;
  margin: 0;
}

ul li::before {
  content: "\1f65d  ";
  color: rgba(0,0,0,0.5);
  font-size: 0.75em;
  padding-right: 8px;
}

#custom li,
#custom li:nth-child(odd) {
  background: none;
}

#wrapper .section h1,
#wrapper .section h2 {
    font-size: 1em;
    width: 100%;
}

#custom h1 a.handle,
#custom .info h1 {
  font-family: 'Rozha One', serif;
  font-weight: bolder;
  text-shadow: 1px 1px 2px white, 3px 3px 2px grey;
  letter-spacing: inherit;
}

#custom #wrapper h1 a.handle {
  font-size: 1.5em;
}

#custom #wrapper a.handle {
  color: rgba(0,0,0,0.8);
}

a.handle::after {
  content: "  \1f663";
  font-size: 0.85em;
}

a.handle::before {
  content: "\1f660  ";
  font-size: 0.85em;
}

#custom h2, 
#custom h3, 
#custom h4, 
#custom h5, 
#custom h6,
#custom .section a.handle {
  font-family: 'Josefin Slab', cursive;
}

#custom .info::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background: url(https://ugotsta.github.io/gitdown/assets/paper-set-textured.jpg);
  mix-blend-mode: difference;
  opacity: 1;
  box-shadow: inset 0 0 40px black;
}

a {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  border-bottom: 1px dotted rgba(0,0,0,0.3);
}

a:hover,
.inner .section a:hover {
  color: rgba(0,0,0,1);
  border-bottom: 1px dotted rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.2);
}

h1 {
  text-transform: uppercase;
  font-size: 1.3em;
}

#custom .inner {
  font-size: 140%;
  box-shadow: none;
  background: none;
}

#custom .inner::before {
  content: ". , .. . . . , . ,. ., .,. , .";
  position: fixed;
  top: unset;
  bottom: 0.2em;
  left: 0;
  z-index: 200;
  pointer-events: none;
  font-size: 50em;
  mix-blend-mode: overlay;
  color: rgba(0,0,0,0.1);
  text-shadow: 0 0 50px black;
  background: none;
  background-image: none;
  box-shadow: none;
}

#gd-code-glory #custom .inner::before {
    position: unset;
    content: "";
}

#gd-code-glory .inner .hljs {
  mix-blend-mode: color-burn;
}

.gd-animated #custom .inner::before {
    animation: spooks 5s linear infinite;
}

@keyframes spooks {
  0% { text-shadow: 0 0 50px black; font-size: 50em; opacity: 1 }
  10% { text-shadow: 0 0 100px black; font-size: 50em; opacity: 0.5 }
  12% { text-shadow: 0 0 80px black; font-size: 49em; opacity: 1 }
  13% { text-shadow: 0 0 120px black; font-size: 50em; opacity: 1 }
  40% { text-shadow: 0 0 50px black; font-size: 50em; opacity: 0.8 }
  93% { text-shadow: 0 0 60px black; font-size: 50em; opacity: 0.8 }
  95% { text-shadow: 0 0 100px black; font-size: 49em; opacity: 1 }
  100% { text-shadow: 0 0 50px black; font-size: 50em; opacity: 1 }
}

#custom .inner::after {
  position: fixed;
  content: ".";
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 50%,rgba(133,142,131,1) 100%), url(https://www.transparenttextures.com/patterns/natural-paper.png);
  pointer-events: none;
  box-shadow: inset 0 0 60px black, inset 0 0 200px black;
  z-index: 1;
  height: 100%;
  width: 100%;
  mix-blend-mode: difference;
  font-size: 30em;
  color: rgba(255,255,255,0);
  text-shadow: 0 0 70px black;
}

.inner h1:before {
  content: ".";
  position: absolute;
  top: -50px;
  left: 180px;
  font-size: 15em;
  text-shadow: 0px 0px 20px rgba(255,255,255,0.15);
  color: rgba(255,255,255,0.15);
  mix-blend-mode: hard-light;
  pointer-events: none;
}

kbd, .info kbd {
  padding: 8px 12px;
  font-size: 0.9em;
  line-height: 0.75em;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border-bottom-color: #959da5;
  border-radius: 0;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.12);
  cursor: pointer;
  mix-blend-mode: color-burn;
}

#custom .info kbd {
  font-family: 'Rozha One', serif;
  font-weight: bolder;
  color: black;
  text-shadow: 1px 1px 1px white, 2px 2px 3px rgba(0,0,0,0.75);
  border-radius: 3px;
}

.section code {
  box-shadow: inset 0 0 60px rgba(255,255,255,0.2);
}

.content a.choice::before {
  content: "\27BA";
  color: darkslategray;
  opacity: 0.5;
  padding-right: 10px;
}

/* Info panel */
#custom .info .element-count,
#custom .info .element-count code{
  font-family: 'Josefin Slab', cursive;
  color: darkgray;
}

#custom .info a,
#custom .info .toc a,
#custom .gist-url, .css-url,
#custom .info .hide {
  font-family: 'Josefin Slab';
  font-weight: bold;
  color: dimgrey;
}

#custom .info a:hover,
#custom .info .toc a:hover {
  color: dimgrey;
  background: rgba(0,0,0,0.2);
}

/* App specific styles */
#custom h1.glory:before {
  content: "\2605";
  color: black;
  position: absolute;
  top: -30px;
  font-size: 2em;
  z-index: -1;
  left: 30px;
}

#custom .cheats::after {
  content: 'cheat  \1f663';
  color: inherit;
}

#custom .info .cheats::after {
  content: 'cheat';
  font-size: 0.6em;
  color: inherit;
}

/* Animations */
@keyframes in {
    0% { opacity: 1; filter: blur(8px); }
  100% { opacity: 1; filter: blur(0px); }
}

@keyframes out {
    0% { opacity: 1; filter: blur(0px); }
  100% { opacity: 0; filter: blur(8px); }
}

@keyframes in-reverse {
  100% { opacity: 0; filter: blur(8px); }
  0% { opacity: 1; filter: blur(0px); }
}

@keyframes out-reverse {
  100% { opacity: 1; filter: blur(0px); }
  0% { opacity: 1; filter: blur(8px); }
}

#custom .section.old,
#custom .section.current {
  animation-duration: 1s;
}

.eq .band {
    background: none;
    box-shadow: none;
}

.eq .band::after {
  content: ".";
  color: darkgray;
  position: absolute;
  top: 0;
  width:100%;
  background: none;
  font-size: 50em;
  text-shadow: 0 0 30px darkgray;
  filter: blur(10px);
  opacity: 0.8;
}

.eq {
    position: fixed;
    margin: auto;
    height: 70%;
    width: 100%;
    background: none;
    mix-blend-mode: color-dodge;
  z-index: 1;
  bottom: 0;
}

a.n-reference {
    border: 1px dashed rgba(0,0,0,0.5);
    border-radius: 0;
    color: black;
}

connection {
    border: 2px solid black;
    opacity: 1;
    mix-blend-mode: overlay;
}