/*
    Theme name: Graph Paper
    URL: https://gist.github.com/Ugotsta/77b1f66ad5093c2db29c666ad15f334d
*/

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Caveat');

#custom * {
font-family: 'Caveat', cursive;
font-weight: 100;
text-shadow: none;
}

.section .content,
.section .alternate {
    background: none;
}

#custom li {
    background: none;
}

#custom .section table,
#custom .section tr,
#custom .section th {
  background: none;
}

.gd-slides #custom .section {
    background: none;
    border: none;
}

#custom .section {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.15);
    border-radius: 0;
    mix-blend-mode: normal;
}

.inner {
    position: unset;
    background-color: aliceblue;
    background-image: url(https://ugotsta.github.io/gitdown/assets/paper-set.jpg);
    font-size: 130%;
    background-blend-mode: luminosity;
}

#custom .inner {
    filter: contrast(1.45);
}

#custom .section a.handle {
    color: rgba(0,0,0,0.8);
    font-family: 'Cabin Sketch', sans-serif;
}

.gd-slides #custom .inner {
    transform: scale(1) translateX(-700px) translateY(-380px) perspective(400px) rotateX(0deg) rotateY(5deg) scaleZ(1) rotateZ(350deg) translateZ(80px);
    padding: 800px;
}

.inner::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    pointer-events: none;
    box-shadow: inset 0 0 100px white;
    mix-blend-mode: luminosity;
    opacity: 0.2;
}

.inner::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    box-shadow: inset 0 0 300px white;
    opacity: 0.2;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

/* App-specific styles */
connection {
    mix-blend-mode: multiply;
}

#custom .section.reference {
    box-shadow: none;
}

#custom .section.note {
    background: none;
    border: 1px solid rgba(0,0,0,0.2);
}

.gd-modular .inner .section:hover,
#gd-emphasis .inner .section:hover {
    box-shadow: inset 0 0 30px rgba(0,0,0,0.5);
}

#gd-cheats .inner .section {
    border: 1px solid rgba(0,0,0,0.3);
    background-image: url(https://ugotsta.github.io/gitdown/assets/paper-set.jpg);
    background-color: cornflowerblue;
    background-blend-mode: luminosity;
}

#custom .eq {
    top: 0;
    opacity: 1;
}


#custom kbd {
    font-family: 'Cabin Sketch',cursive;
    padding: 0.4em;
    line-height: 10px;
    background: white;
    color: black;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 0;
}

/* Animations */
@keyframes in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes in-reverse {
    100% { opacity: 0; }
    0% { opacity: 1; }
}

@keyframes out-reverse {
    100% { opacity: 1; }
    0% { opacity: 0; }
}

.eq .band {
    background: none;
    border: 2px solid black;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.85);
}