@media print {
  .info {
    display: none;
  }
  #wrapper {
    padding: 0px;
  }
}

@page { size:8.5in 11in; margin: 0.25cm }

:root {
  --bg: white;
  --fontsize: 120%;
}

body {
  background-color: var(--bg);
}

html, body {
  padding: 0;
  margin: 0;
}

#wrapper, .inner {
  width: 100%;
  height: 100%;
  margin: auto;
  float: left;
}

#wrapper { position: absolute;}

.inner {
  font-size: var(--fontsize);
  transition: none;
  animation: none;
}

p {
  margin: 0.5em 0;
}

/* Section */
.section {
  margin: auto;
  page-break-inside: avoid;
  touch-action: none;
}

.section .content {
  position: relative;
}

.section .content img {
  width: -webkit-fill-available;
  min-width: 50px;
  max-width: 100%;
}

/* General styles */
ul {
  padding-left: 0;
  list-style: none;
}

li:before {
  content: "\25cf  ";
}

code {
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.9);
  padding: 2px 6px;
  border-radius: 3px;
}

pre code {
  background: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

kbd {
  background: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-size: 0.6em;
  vertical-align: middle;
}

kbd:hover {
  filter: invert(90%);
}

/* Helper styles for gitdown core */

#gd-gitdown .handle-heading {
  margin: 0;
}

#gd-gitdown #custom .section {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.gd-markdown {
    display: none;
}

/* ------------------------------------------------------------------------ */

/* Panels */

#wrapper.panels-docked {
  width: calc(100% - 300px);
}

#wrapper.panels-docked.panels-hidden {
  width: 100%;
}

#wrapper.panels-docked .info {
  height: 100%;
}

.panel {
  opacity: 1;
  pointer-events: auto;
}

.panels-hidden .panel {
  opacity: 0;
  pointer-events: none;
}

/* Info panel */

.info * {
  color: white;
}

.info {
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  box-shadow: -2px 2px 8px rgba(0,0,0,0.45);
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
  z-index: 100;
}

.info .app-title {
  margin: 0;
  font-size: 2.3em;
}

.info h1, .info h3 {
  text-transform: none;
  margin: 0;
}

.info p {
  margin: 0;
}

.info .element-count {
    margin-bottom: 1em;
}

.info a {
  color: #999;
  text-decoration: none;
}

.info a:hover,
.info .toc a:hover {
  color: #fff;
  cursor: pointer;
  background: rgba(255,255,255,0.15);
}

.info .hide {
  float: right;
  cursor: pointer;
}

.info .hide:hover kbd {
  color: white;
  filter: invert(90%);
}

.unhide,
.fullscreen {
  position: fixed;
  right: -75px;
  top: -75px;
  height: 200px;
  width: 200px;
  z-index: 99;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: none;
  mix-blend-mode: overlay;
}

.unhide:hover,
.fullscreen:hover {
  background: rgba(0,0,0,0.25);
  border: 20px solid rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0px 10px white;
}

.fullscreen {
  right: -50px;
  top: unset;
  bottom: -50px;
  border-radius: 0;
}

.element-count code {
  background: rgba(255,255,255,0.25);
  padding: 2px 4px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

/* Table of Contents */
.info .toc {
  max-height: 150px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.info .toc a {
  display: inline;
  cursor: pointer;
}

.info .toc a {
  display: block;
  padding: 6px;
  border-bottom: 1px solid black;
}

/* Fields */

.info .field {
  margin-bottom: 0.5em;
}

.info a.selector-url {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info .field.selector .dialog {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 100;
  height: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 2px white;
  padding: 10px;
  cursor: pointer;
  border: 2px solid black;
  opacity: 0;
  pointer-events: none;
}

.info .field.selector .dialog.visible {
  opacity: 1;
  pointer-events: auto;
}

.info .selector-url {
  display: block;
  cursor: pointer;
  color: #999;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 6px;
  border-radius: 3px;
  margin: 4px;
}

.info .selector-url:hover {
  color: #fff;
  cursor: pointer;
  background: rgba(255,255,255,0.15);
}

.info a.selector-url::after {
  position: absolute;
  color: rgba(255,255,255,0.25);
  font-family: monospace;
  padding: 2px;
  right: 2em;
}

.info .selector-wrapper {
  overflow-y: scroll;
  max-height: 11em;
}

.info .selector a:hover {
  filter: brightness(0.5);
}

.info a.selector-url::after {
  content: attr(name);
}

.info a.selector-source {
  float: left;
  padding: 6px 10px;
  margin-right: 6px;
}

.info .selector .dialog .id {
  margin-left: 6px;
}

.info .selector .dialog input {
  margin-bottom: 6px;
  width: 97%;
  border-radius: 5px;
  color: #333;
  background: rgba(0,0,0,0.3);
  padding: 4px;
  border: none;
  outline: 1px solid rgba(0,0,0,0.2);
  height: 1.5em;
}

.info .selector .dialog input::-webkit-input-placeholder,
.info .selector .dialog input::-moz-placeholder {
  color: rgba(0,0,0,0.15);
}

.info .choices {
  margin: 1em 0;
}

.info .choices::after {
  content: attr(data-name);
}

.info .choices .choice {
  padding: 5px;
  color: black;
  background: white;
  border-radius: 3px;
}

.info .choices .choice.selected,
.info .choices .choice:hover {
  background: white;
  color: black;
}

.info .field.select select {
  width: 99%;
  background: #252525;
  color: #999;
  padding: 6px;
  border-radius: 3px;
  outline: 0;
  border: none;
  cursor: pointer;
}

.info .field.select select:hover {
  background: #555;
}

.info .field.select::before {
  margin-right: 2em;
  margin-top: 4px;
  content: attr(data-name);
  position: absolute;
  right: 0;
  color: #999;
  pointer-events: none;
}

#custom .info li:before {
  content: unset;
}

.info .field.collapsible {
  margin: 5px 0;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.5em 0.5em 1em 0.5em;
  border-radius: 3px;
}

.info .field.collapsible.collapsed {
  padding: 0.5em;
}

.info .field.collapsible .contents {
  margin-top: 0.5em;
}

.info .field.collapsible.collapsed .contents {
  height: 0px;
  display: none;
}

.info .field.collapsible:hover {
  background: rgba(255, 255, 255, 0.25);
}

.info .field.collapsible .header {
  width: 100%;
  height: 1.5em;
  display: inline-block;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}

.info hr {
  height: 6px;
  border: 0;
  box-shadow: inset 0 6px 6px -6px rgba(255, 255, 255, 0.5);
}

/* Lyric mode styling */
#custom .gd-lyrics .inner .section.heading .handle-heading {
  display: none;
}

/* Help Ribbon */
.info a.help-ribbon,
.info a.help-ribbon {
  position: absolute;
  transform: rotate(45deg);
  font-size: 2.75em;
  background: white;
  border-radius: 50%;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.5), 0 0 12px black;
  margin: 4px;
  color: black;
  border: 3px double black;
  text-shadow: 1px 1px 1px white, 2px 2px 4px black, -1px -1px 1px white, -2px -2px 8px black;
  font-family: "Times New Roman", serif !important;
  line-height: normal;
}

.info a.help-ribbon::before,
.info a.help-ribbon::before {
  background: white;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 6px;
  right: -75px;
  content: "";
  border: 3px double black;
  font-size: 0.6em;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5), 0 0 12px black;
  mix-blend-mode: soft-light;
}

.info a.help-ribbon:hover,
.info a.help-ribbon:hover {
  background: burlywood;
  color: black;
}

/* Transitions */
* { transition: all 200ms ease; }

/* Scrollbar styling */
::-webkit-scrollbar {
    background: #333;
    border-radius: 3px;
}

.field.selector .dialog ::-webkit-scrollbar {
  background: #eee;
  border: 2px solid #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    border: 2px solid rgba(0,0,0,0.15);
}

.info ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Sadly massive slider styling */
.info .field.slider::after {
  content: attr(data-name) ': ' attr(data-value) '' attr(data-suffix);
  color: white;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  right: 30px;
  font-size: 1.2em;
  pointer-events: none;
}

.info input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
.info input[type=range]:focus {
  outline: none;
}
.info input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.info input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
.info input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.78);
}
.info input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.info input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}

.info input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
.info input[type=range]:focus {
  outline: none;
}
.info input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.info input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
.info input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.78);
}
.info input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.info input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}